#     PyWST config file
# Generated with config.py
# More information at https://github.com/cdelaof26/PyWST/blob/main/config/sample

[Components]
PATH = /ruta/absoluta/a/IPNScheduler/components

FILE = nav.html
PARAMS =
REPL_ID = nav

FILE = page_buttons.html
PARAMS = b1, b2, b3, b4, tb1, tb2, tb3, tb4
REPL_ID =

BEHAVIOR = replace
ONLOAD = True
WATCH = True
# MINIFY_CODE = False

[Pages]
PATH = /ruta/absoluta/a/IPNScheduler/files
FILE = *
BEHAVIOR = replace
UN_REPL_ID = data-container
ONLOAD = False
WATCH = True
# MINIFY_CODE = False

[UI]
PATH = /ruta/absoluta/a/IPNScheduler/components/ui

FILE = info_button.html
PARAMS = text, iconName, pageName
REPL_ID =

FILE = ipn_scheduler.html
PARAMS = classData
REPL_ID =

FILE = important_info.html
PARAMS = title, text
REPL_ID =

BEHAVIOR = replace
ONLOAD = True
WATCH = True
# MINIFY_CODE = False

[RUI]
PATH = /ruta/absoluta/a/IPNScheduler/components/rui

FILE = editable_table_row.html
PARAMS = id, group, group_listener, name, name_listener, teacher, teacher_listener

FILE = hour_input.html
PARAMS = content, listen

FILE = preference_selector.html
PARAMS = content, listen

FILE = r_pencil.html
PARAMS = classData
FILE = r_trash.html
PARAMS = classData

FILE = action_buttons.html
PARAMS = edit_action, delete_action

BEHAVIOR = return
WATCH = True
# MINIFY_CODE = False

[SVG]
PATH = /ruta/absoluta/a/IPNScheduler/svg
FILE = *
PARAMS = classData
BEHAVIOR = replace
REPL_ID =
ONLOAD = True
WATCH = True
# MINIFY_CODE = False
