#     PyWST config file
# Generated with config.py
# More information at https://github.com/cdelaof26/PyWST/blob/main/config/sample

[Components]
PATH = /ruta/absoluta/a/IPNScheduler/components
FILE = pageButtons.html
REPL_ID = pageButtons
FILE = nav.html
REPL_ID = nav
BEHAVIOR = replace
ONLOAD = True
WATCH = True
MINIFY_CODE = True

[Pages]
PATH = /ruta/absoluta/a/IPNScheduler/files
FILE = *
BEHAVIOR = replace
UN_REPL_ID = data_container
ONLOAD = False
WATCH = True
MINIFY_CODE = True
