<tr id="r${id}" class="bg-body-0 dark:bg-body-1">
    <td class="rounded-l-xl p-4">
        <label>
            <input value="${group}" onkeyup="group_listener(evt)" class="text-center bg-gray-50 border border-gray-300 text-gray-900 w-full h-10 text-sm rounded focus:ring-ipn-0 focus:border-ipn-0 dark:bg-sidebar-1 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-ipn-0 dark:focus:border-ipn-0" placeholder="Grupo">
        </label>
    </td>
    <td class="p-4">
        <label class="flex">
            <textarea onkeyup="name_listener(evt)" class="self-center resize-none bg-gray-50 border border-gray-300 text-gray-900 w-full text-sm rounded focus:ring-ipn-0 focus:border-ipn-0 dark:bg-sidebar-1 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-ipn-0 dark:focus:border-ipn-0" placeholder="Nombre de la clase">${name}</textarea>
        </label>
    </td>
    <td class="p-4">
        <label class="flex">
            <textarea onkeyup="teacher_listener(evt)" class="self-center resize-none bg-gray-50 border border-gray-300 text-gray-900 w-full text-sm rounded focus:ring-ipn-0 focus:border-ipn-0 dark:bg-sidebar-1 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-ipn-0 dark:focus:border-ipn-0" placeholder="Profesor">${teacher}</textarea>
        </label>
    </td>
</tr>
