<td class="p-1 h-full self-center">
    <label class="self-center flex justify-center ">
        <select onchange="listen(evt)" class="appearance-none p-2 h-[60%] rounded-xl bg-sidebar-0 dark:bg-sidebar-1">
            <option value="-" selected>
                NA
            </option>
            <option value="07:00-08:30">
                07:00-08:30
            </option>
            <option value="08:30-10:00">
                08:30-10:00
            </option>
            <option value="10:30-12:00">
                10:30-12:00
            </option>
            <option value="12:00-13:30">
                12:00-13:30
            </option>
            <option value="13:30-15:00">
                13:30-15:00
            </option>
            <option value="15:00-16:30">
                15:00-16:30
            </option>
            <option value="16:30-18:00">
                16:30-18:00
            </option>
            <option value="18:30-20:00">
                18:30-20:00
            </option>
            <option value="20:00-21:30">
                20:00-21:30
            </option>
        </select>
    </label>
</td>
