<td class="p-4">
    <label>
        <select onchange="listen(evt)" class="appearance-none w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-ipn-0 focus:border-ipn-0 block w-full p-2.5 dark:bg-sidebar-1 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-ipn-0 dark:focus:border-ipn-0">
            <option selected disabled hidden>
                ${content}
            </option>
            <option value="Máxima preferencia">
                Máxima preferencia
            </option>
            <option value="Fuertemente preferido">
                Fuertemente preferido
            </option>
            <option value="Moderadamente preferido">
                Moderadamente preferido
            </option>
            <option value="Sin preferencia">
                Sin preferencia
            </option>
            <option value="Moderadamente evitar">
                Moderadamente evitar
            </option>
            <option value="Preferentemente evitar">
                Preferentemente evitar
            </option>
        </select>
    </label>
</td>
