<nav class="h-[10%] w-full p-1 md:p-3 lg:p-6">
	<div class="grid grid-cols-3 md:flex lg:text-lg md:space-x-4 lg:space-x-8">
		<a class="flex justify-center" href="https://github.com/cdelaof26/" target="_blank">
			<i class="h-8 self-center" id="githubIcon">
			</i>
		</a>
		<button id="nav0" class="py-1 md:p-1 border-t-4 transition-[border] duration-200 border-ipn-0" onclick={loadPage("info")}>
			Generar
		</button>
		<button id="nav1" class="py-1 md:p-1 border-t-4 transition-[border] duration-200 border-transparent" onclick={loadPage("operationInfo")}>
			Funcionamiento
		</button>
		<button id="nav2" class="py-1 md:p-1 border-t-4 transition-[border] duration-200 border-transparent" onclick={loadPage("helpPage")}>
			Ayuda
		</button>
		<button id="nav3" class="py-1 md:p-1 border-t-4 transition-[border] duration-200 border-transparent" onclick={loadPage("developer")}>
			Créditos
		</button>
	</div>
</nav>
