<nav class="h-[10%] w-full p-6">
	<div class="flex space-x-8">
		<a class="self-center" href="https://github.com/cdelaof26/" target="_blank">
			<i class="h-8" id="githubIcon">
			</i>
		</a>
		<button id="nav0" class="p-1 text-lg border-t-4 transition-[border] duration-200 border-ipn-0" onclick={loadPage("info")}>
			Generar
		</button>
		<button id="nav1" class="p-1 text-lg border-t-4 transition-[border] duration-200 border-transparent" onclick={loadPage("operationInfo")}>
			Funcionamiento
		</button>
		<button id="nav2" class="p-1 text-lg border-t-4 transition-[border] duration-200 border-transparent">
			Ayuda
		</button>
		<button id="nav3" class="p-1 text-lg border-t-4 transition-[border] duration-200 border-transparent" onclick={loadPage("developer")}>
			Créditos
		</button>
	</div>
</nav>
